<form class="" method="post" action="">
    <fieldset>
        <legend>Connexion</legend>
        <div class="form-group">
            <label for="adresseMel">Adresse Mel :</label>
            <input type="text" id="adresseMel" name="adresseMel" value="" class="form-control">
            <label for="mdp">Mot de passe :</label>
            <input type="text" id="mdp" name="mdp" value="" class="form-control">
            <input type="checkbox" id="connexionAuto" name="connexionAuto" value="" class="form-control">
            <label for="connexionAuto">Connexion automatique</label>
            <a href="#">Mot de passe oublié ?</a>
            <input type="submit" name="formulaireConnexion" value="Connexion">
        </div>
    </fieldset>
</form>